name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:

  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup HEMTT
        uses: arma-actions/hemtt@v1

      - name: Run HEMTT release
        run: hemtt release

      - name: Package client translations
        run: |
          mkdir -p .hemttout/client/@ocap_translations/addons
          mkdir -p .hemttout/client/@ocap_translations/keys
          cp .hemttout/release/addons/ocap_translations.pbo .hemttout/client/@ocap_translations/addons/
          cp .hemttout/release/addons/ocap_translations.pbo.*.bisign .hemttout/client/@ocap_translations/addons/
          cp .hemttout/release/keys/*.bikey .hemttout/client/@ocap_translations/keys/
          cd .hemttout/client && zip -r ../../releases/ocap-translations-latest.zip @ocap_translations

      - name: Upload release assets
        uses: softprops/action-gh-release@c95fe1489396fe8a9eb87c0abf8aa5b2ef267fda # v2
        with:
          files: |
            releases/ocap-latest.zip
            releases/ocap-translations-latest.zip
